version: "3.9"

networks:
  media-services:
    external: true

services:
  plex:
    image: linuxserver/plex:1.42.2
    container_name: plex
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIMEZONE}
      - VERSION=docker
    volumes:
      - ${VOLUMES_PATH}/media-services/plex:/config
      - ${MEDIA_HDD_PATH}/series:/tv
      - ${MEDIA_HDD_PATH}/movies:/movies
    devices:
      - /dev/dri:/dev/dri
    group_add:
      - ${LXC_VIDEO_GROUP}
      - ${LXC_RENDER_GROUP}
    user: "1000:1000"
    restart: unless-stopped
    network_mode: host
    healthcheck:
      test: curl --connect-timeout 15 --silent --show-error --fail http://localhost:32400/identity
      interval: 1m00s
      timeout: 15s
      retries: 3
      start_period: 1m00s

  jellyfin:
    image: linuxserver/jellyfin:10.11.2
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIMEZONE}
    volumes:
      - ${VOLUMES_PATH}/media-services/jellyfin:/config
      - ${MEDIA_HDD_PATH}/series:/data/tvshows
      - ${MEDIA_HDD_PATH}/movies:/data/movies
    ports:
      - 8096:8096
      - 8920:8920
      - 7359:7359/udp
    devices:
      - /dev/dri:/dev/dri
    group_add:
      - ${LXC_VIDEO_GROUP}
      - ${LXC_RENDER_GROUP}
    restart: unless-stopped
    networks:
      - media-services
    healthcheck:
      test: curl --connect-timeout 15 --silent --show-error --fail http://localhost:8096/health
      interval: 10s
      timeout: 5s
      retries: 5    

  music-assistant:
    image: ghcr.io/music-assistant/server:2.6.2
    container_name: music-assistant
    volumes:
      - ${VOLUMES_PATH}/media-services/music-assistant:/data
    cap_add:
      - SYS_ADMIN
      - DAC_READ_SEARCH
    privileged: true
    restart: unless-stopped
    network_mode: host
    healthcheck:
      test: wget --timeout=15 --quiet --server-response --spider http://localhost:8095/info
      interval: 1m00s
      timeout: 15s
      retries: 3
      start_period: 1m00s
