VOLUMES_PATH=/path/to/your/volumes
TIMEZONE=Europe/Bucharest
DOMAIN_URL=example.domain.net
WIREGUARD_UI_PASSWORD=password
MEDIA_HDD_PATH=/path/to/your/volumes
SCPRIME_DATA_PATH=/path/to/your/volumes
SCPRIME_METADATA_PATH=/path/to/your/volumes
SCPRIME_WALLET_PASSWORD=scp_wallet_pass
SCPRIME_API_PASSWORD=scp_api_pass
BACKUP_PATH=/path/to/your/volumes
SERVER_IP=ip_of_server
DOZZLE_USERNAME=username
DOZZLE_PASSWORD=password
EMAIL=email@email.com
CLOUDFLARE_TOKEN=token_here
SERVER_SUBNET=192.168.0.0/24
SONARR_API_KEY=api_key
RADARR_API_KEY=api_key
OVERSEERR_API_KEY=api_key
BAZARR_API_KEY=api_key
DELUGE_PASSWORD=password
TAUTULLI_API_KEY=api_key
PORTAINER_API_KEY=api_key
HOMEBRIDGE_USERNAME=username
HOMEBRIDGE_PASSWORD=password