VOLUMES_PATH=/path/to/your/volumes
TIMEZONE=Europe/Bucharest
DOMAIN_URL=example.domain.net
WIREGUARD_UI_PASSWORD=password
MEDIA_HDD_PATH=/path/to/your/volumes
SCPRIME_DATA_PATH=/path/to/your/volumes
SCPRIME_METADATA_PATH=/path/to/your/volumes
SCPRIME_WALLET_PASSWORD=scp_wallet_pass
SCPRIME_API_PASSWORD=scp_api_pass
SCPRIME_BACKUP_PATH=/path/to/your/volumes
CLOUDFLARE_TOKEN=token