networks:
  crypto-services:
    external: true

services:
  mysterium-node:
    image: mysteriumnetwork/myst:1.37.6-alpine
    container_name: mysterium-node
    ports:
      - 4449:4449
    command: service --agreed-terms-and-conditions
    volumes:
      - ${VOLUMES_PATH}/crypto-services/mysterium-node:/var/lib/mysterium-node
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    networks: 
      - crypto-services
